<!-- <div id="toto" #toto>toto</div> -->

<div class="container">
  <div fxLayout="column" fxFlex="1 1 auto" #tree_header>
    <div fxFlex="32px" class="table_header_container">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center">Roles</div>
        </div>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center">Service</div>
        </div>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center">Actions</div>
        </div>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center">Fields</div>
        </div>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center">...</div>
        </div>
      </div>
    </div>

    <div fxFlex="0 1 auto" class="tree_container">
      <mat-tree [dataSource]="_dataSource" [treeControl]="_treeControl" #tree>
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle fxLayoutAlign="row" class="mat-header-cell">
          <div fxFlex fxFlexFill *ngFor="let i of array(treeControl.getLevel(node))" class="column">
            <div fxFlex fxFlexAlign="center" class="tree_container_cell"></div>
          </div>
          <div fxFlex fxFlexFill class="column">
            <!-- <div fxFlex fxFlexAlign="center" class="mat-header-cell tree_container_cell">{{node.filename}} :
              {{node.type}}</div> -->
            <ng-container *ngTemplateOutlet="nodeTemplateRenderer; context:{$implicit:node}"></ng-container>
          </div>
          <div fxFlex fxFlexFill *ngFor="let i of remainingCols(node)" class="column">
            <div fxFlex FxFlexAlign="center" class="tree_container_cell"></div>
          </div>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" fxLayout="row" class="mat-header-cell">
          <div fxFlex fxFlexFill *ngFor="let i of array(treeControl.getLevel(node))" class="column">
            <div fxFlex FxFlexAlign="center" class="tree_container_cell"></div>
          </div>
          <div fxFlex fxFlexFill class="column">
            <div fxFlex fxFlexAlign="center" class="tree_container_cell">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                <mat-icon class="fa-xs mat-icon-rtl-mirror" [fontIcon]="treeControl.isExpanded(node) ? 'fa-minus-circle' : 'fa-plus-circle'"></mat-icon>
              </button>
              <!-- {{node.filename}} -->
              <ng-container *ngTemplateOutlet="nodeTemplateRenderer; context:{$implicit:node}"></ng-container>
            </div>
          </div>
          <div fxFlex fxFlexFill *ngFor="let i of remainingCols(node)" class="column">
            <div fxFlex fxFlexAlign="center" class="tree_container_cell"></div>
          </div>
        </mat-tree-node>

      </mat-tree>
    </div>
    <div fxFlex="1 0 8px" class="tree_container_filler">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center"></div>
        </div>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center"></div>
        </div>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center"></div>
        </div>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center"></div>
        </div>
        <div class="mat-header-cell column column_header" fxFlex fxFlexFill>
          <div fxFlex fxFlexAlign="center"></div>
        </div>
      </div>
    </div>
  </div>
</div>