<!-- Main rendering container : Render Root and child items -->
<ng-container *ngIf="menuItem.children">
  <ng-container *ngTemplateOutlet="rootMenuItem ;context:{$implicit:menuItem}"></ng-container>
</ng-container>
<ng-container *ngIf="!menuItem.children">
  <ng-container *ngTemplateOutlet="childMenuitem ;context:{$implicit:menuItem}"></ng-container>
</ng-container>



<!-- ******************** -->
<!-- templates definition -->
<!-- ******************** -->

<!-- Root menu template -->
<!-- ******************** -->
<ng-template #rootMenuItem let-menuItem>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header class="panel-title" collapsedHeight="32px" expandedHeight="32px">
      <mat-panel-title class="panel-title">
        <div class="header-title">
          <mat-icon class="fa-xs header-title-icon" [fontIcon]="menuItem.data?.icon==''?'fa-circle':menuItem.data?.icon"></mat-icon>
          <span class="header-title-description">{{menuItem.data?.title}}</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Loop over child menu items -->
    <ng-container *ngFor="let childItem of menuItem.children">
      <ng-container *ngTemplateOutlet="childMenuitem ;context:{$implicit:childItem}"></ng-container>
    </ng-container>
  </mat-expansion-panel>
</ng-template>


<!-- Menu Item template -->
<!-- ******************** -->
<ng-template #childMenuitem let-menuItem>
  <ng-container *ngIf="!menuItem.children">
    <a class="child-menu-item-link" routerLink="{{menuItem.data?.link}}" #linkActive="routerLinkActive"
      routerLinkActive="linkActive">
      <mat-icon class="fa-xs child-title-icon" [fontIcon]="linkActive.isActive?'fa-angle-right':'fa-angle-right'"></mat-icon>
      <!-- <mat-icon class="header-title-icon" [fontIcon]="linkActive.isActive?'play_circle_filled':'play_circle_filled'"></mat-icon> -->
      <span class="child-title-description">{{menuItem.data?.title}}</span>
    </a>
  </ng-container>
  <ng-container *ngIf="menuItem.children">
    <ng-container *ngTemplateOutlet="rootMenuItem ;context:{$implicit:menuItem}"></ng-container>
  </ng-container>
</ng-template>