// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin auth-component-login($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    .form-container {
        display: block;
        text-align: center;
        margin-top: 64px;
        /* margin-bottom: 50px; */
    }
    .login-error {
        padding-top: 16px;
        font:bold;
        color: mat-color($warn);
    }
}