<div class="form-container">
  <div>
    <h3>
      User login
    </h3>

  </div>
  <form>
    <div class="form-field">
      <mat-form-field>
        <input id="login-component-email" matInput [(ngModel)]="credentials.email" [ngModelOptions]="{standalone: true}" placeholder="login" autocomplete="username">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <input id="login-component-password" matInput type="password" [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}" placeholder="password" autocomplete="current-password">
      </mat-form-field>
    </div>
    <div class="form-field">
      <button id="login-component-loginbutton" mat-button color="accent" (click)="onLogin()">
        Login
      </button>
    </div>
    <ng-container *ngIf="error!=''">
      <div id="login-component-loginerror-container" class="login-error">Login error : {{error}}</div>
    </ng-container>
  </form>
</div>