.container {
    background-color:black;
    height: calc(100vh - 64px);
    overflow: hidden;
}

.table_header_container {}

.tree_container {
    background-color: white;
    overflow-y:auto;
}
.mat-tree-node {
    min-height: 26px;
}
.mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
}
.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.header_col {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.column_header {
    text-align: center;
    color: white;
}

.column {
    border-right: 1px grey dotted;
    min-height: inherit;
    
}

/**
* Node Paddings
*/

/* .example-tree .node-padding .node-padding {
    margin-left: 100px;
}

.example-tree .node-padding .node-padding .node-padding {
    margin-left: 150px;
}

.example-tree .mat-tree-node {
    min-height: 20px;
}

.example-tree .mat-icon-button {
    line-height: 20px;
    width: 20px;
    height: 20px;
} */