.container {
    background-color: black;
    height: 100%;
    overflow: hidden;
    border: 1px solid grey;
}

.table_header_container {
    overflow-y: scroll;
    >div>div:last-child {
        border-right: 0px;
    }
}

.table_header_container::-webkit-scrollbar {
    // background-color: black;
}

.tree_container {
    background-color: white;
    overflow-y: scroll;
    div>div:last-child {
        border-right: 0px;
    }
}

.tree_container_cell {}

.tree_container_filler {
    background-color: white; // overflow-y: scroll;
    overflow-y: scroll;
    ::-webkit-scrollbar {
        // background-color: white;
    }
    div>div:last-child {
        // border-right: 0px;
    }
}

.mat-tree-node {
    min-height: 26px;
}

.mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.header_col {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.column_header {
    text-align: center;
    color: white;
}

.column {
    border-right: 1px grey dotted;
    min-height: inherit;
}