.container {
    height: 100%;
    overflow: hidden;
}

.tree-wrapper {
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.table_header_container {
    // background-color: black;
    overflow-y: scroll;

    >div>div:last-child {
        border-right: 0px;
    }
}

.tree_container {
    background-color: white;
    overflow-y: scroll;

    div.column {
        &:last-child {
            border-right: 0px;
        }
    }
}

.tree_container_filler {
    background-color: white; // overflow-y: scroll;
    overflow-y: scroll;

    div.column {
        &:last-child {
            border-right: 0px;
        }
    }
}

.mat-tree-node {
    min-height: initial;
}

.mat-nested-tree-node {
    min-height: initial;
}

.mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.header_col {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.column_header {
    text-align: center;
    color: white;
}

.column {
    border-right-style: solid;
    border-right-width: 1px;
    min-height: initial;

    &.node:hover {
        cursor: pointer
    }
}

.node-renderer {
    display: inline-block
}