<div class="users-component-container">
  <div fxLayout="column" fxLayoutGap="24px" fxFlex="1 0 auto">
    <div fxFlex="0 0 auto">
      <app-search-bar (searchText)="onSearchChange($event)"></app-search-bar>
    </div>
    <div fxFlex="1 1 auto" class="user-components-container">
      <div fxLayout="row" fxLayoutGap="64px" fxFlex class="user-components-view">
        <div fxFlex="2 2 300px">
          <app-admin-users-list [users]="users$ | async" [selected_user]="selected_user$ | async" (user_selected)="onUserSelected($event)">
          </app-admin-users-list>
        </div>
        <div fxFlex="0 1 180px">
          <app-admin-users-actions [user]="selected_user$ | async" direction="column" (add_user)="onUserAdd()" (remove_user)="onUserRemove($event)">
          </app-admin-users-actions>
        </div>
        <div fxFlex="4 4 500px">
          <app-admin-user-details [user]="selected_user$ | async" [available_roles]="available_roles$ | async" (user_changed)="onUserChanged($event)"></app-admin-user-details>
        </div>
      </div>
    </div>
  </div>
</div>