.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.toolbar {
  width:100%;
  display:flex;
  flex:1;
  flex-direction: row;
  vertical-align: middle;
}

.brand {

}
.left-items{
  padding-left:32px;
}
.right-items{
  flex: 1;
  display:flex;
  justify-content: flex-end;
}