<div class="sidenav-component">
  <mat-accordion multi="false" displayMode="flat">
    <ng-container *ngFor="let menuItem of routerConfig">
      <ng-container *ngIf="menuItem.data?.isMenu">
  
        <ng-container *ngIf="menuItem.children && menuItem.children.length!=0 ;else item">
          <app-menu-panel [menuItem]="menuItem"></app-menu-panel>
        </ng-container>
        <ng-template #item>
          <app-menu-link [menuItem]="menuItem"></app-menu-link>
        </ng-template>
  
      </ng-container>
    </ng-container>
  </mat-accordion>
</div>