/**
Define side nav global theme variables 
**/

@import '~@angular/material/theming';
@import '../../../../styles/app-theme-globals.scss';

//
$root-menu-line-height: 25px;
$root-icon-size:16px;
$root-title-size:16px;
$child-menu-line-height: 20px;
$child-icon-size:14px;
$child-title-size:14px;

//
@function primary($theme) {
    // @return mat-color(map-get($theme, primary), 500);
    @return primary-color($theme);
}

@function accent($theme) {
    // @return mat-color(map-get($theme, accent), 500);
    @return accent-color($theme);
}

@function background-color($theme) {
    @return mat-color(primary-palette($theme), 800);
}

@function background-color-expanded($theme) {
    @return mat-color(primary-palette($theme), 700);
}

@function background-color-hover($theme) {
    // @return mat-color(map-get($theme, primary), 900);
    @return background-dark-color($theme);
}

@function text-color($theme) {
    @return mat-color(primary-palette($theme), 400);
}

@function text-color-expanded($theme) {
    @return mat-color(primary-palette($theme), 50);
}

@function text-color-hover($theme) {
    @return text-color-expanded($theme);
}

@function text-color-linkactive($theme) {
    @return mat-color(accent-palette($theme), 400);
}