/*
Import all the tools needed to customize the theme and extract parts of it
*/

@import '~@angular/material/theming';
@import './side-nav-component-theme-globals.scss';
/*
Define a mixin that accepts a theme and outputs the color styles for the component.
*/

@mixin sidenav-component($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent); // @include menu-item-component-colors($theme);
    .sidenav-component {
        background-color: background-color($theme);
        height:100%;
    }
}