<div>
  <h3>Permission test : div element -- can read property "name" of "test"</h3>
  <div app-permissions action="read" subject="test" field="name" not-allowed-behavior="hide">
    Hello I can view contents
  </div>
</div>

<div>
  <h3>Permission test : input element -- can read property "name" of "test" -- Should be disabled as "read" action is requested</h3>
  <div><button mat-button (click)="toggle('input')">Toggle read/update</button></div>
  <input type="text" app-permissions [action]="input_permissions.action" [subject]="input_permissions.subject" [field]="input_permissions.field" value="toto">
</div>