.container {
    height: 100vh;
    overflow: hidden;
}

.main_container {
    height: 100vh;
}

.contents {
    height: 100vh;
    overflow: hidden;
}

.main_contents {
    // position: relative;
    padding:8px 8px 8px 8px;
}

.navbar {
    height: 64px;
}

.sidenav_container {
    overflow-y: auto;
}