.container {
    height: 100vh;
    overflow: hidden;
}

.main_container {
    height: 100vh;
}

.contents {
    height: 100vh;
    overflow: hidden;
}

.navbar {
    height: 64px;
}

.sidenav_container {
    width: 280px;
    overflow-y: auto;
}