<!-- Render empty column before the node to render column borders -->
<div *ngFor="let column of node_column_model.columns_before_node" [fxFlex]="column.size" class="column">
  <div fxFlex FxFlexAlign="center" class="tree_container_cell"></div>
</div>

<!-- Render the node contents-->
<div [fxFlex]="node_column_model.column_size" fxFlexFill class="column node" (click)="selectNode(node)"
  [class.selected]="selected_node===node">
  <div fxFlex fxFlexAlign="center" class="tree_container_cell"
    [style.padding-left]="node_column_model.node_padding_left+'px'">
    <button mat-icon-button [disabled]="!node.expandable" (click)="nodeExpandToggle()" matTreeNodeToggle>
      <mat-icon class="fa-xs mat-icon-rtl-mirror" [fontIcon]="buttonFontIcon"></mat-icon>
    </button>
    <div class="node-renderer" fxFlex>
      <div class="node-renderer-description" fxFlex="1 0" fxLayoutAlign="left center"
        [class.dirty]="node.is_dirty | async">{{node.item.name || node.item.id}}
      </div>
      <div class="node-renderer-checkbox" fxFlex="1 0" fxLayoutAlign="left center"
        *ngIf="node.item.allowed!==null && node.item.allowed!==undefined">
        <mat-checkbox [disabled]="disabled" [checked]="node.item.allowed=='1'"
          [indeterminate]="node.item.allowed==allowed_states.INDETERMINATE" (change)="checkChange($event)">
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>

<!-- Render empty column after the node to render column borders -->
<div *ngFor="let column of node_column_model.columns_after_node" [fxFlex]="column.size" class="column">
  <div fxFlex fxFlexAlign="center" class="tree_container_cell"></div>
</div>