@import "../common.styles/button.scss";
@include action-buttons;

.main_layout {
    display: inline-block;
}

.contents {
    // position: absolute;
    // height: 75%;
    width: 100%;
    overflow: hidden;
}
button {
    padding-left: 0;
}
