<div class="main_layout" fxLayout="column" fxFlex="1 1 auto">
    <div class="toolbar" fxFlex="40px">
        <div class="button-container">
            <button *ngIf="!(sandbox.isAclLocked$ | async)" mat-button color="primary" (click)="lock($event)"
                [disabled]="!(sandbox.isLoggedin$ | async)">
                <div>
                    <mat-icon class="fa mat-icon-rtl-mirror" fontIcon="fa-unlock"></mat-icon>
                    <div class="button-label">Lock to modify</div>
                </div>
            </button>
            <button *ngIf="sandbox.isAclLocked$ | async" mat-button color="accent" (click)="unlock($event)"
                [disabled]="!(sandbox.isLoggedin$ | async)">
                <div>
                    <mat-icon class="fa mat-icon-rtl-mirror" fontIcon="fa-lock"></mat-icon>
                    <div class="button-label">Unlock</div>
                </div>
            </button>
        </div>
        <div class="button-container">
            <button mat-button color="primary" (click)="save_changes()"
                [disabled]="!(sandbox.isLoggedin$ | async) || !(sandbox.isDirty$ | async)">
                <div>
                    <mat-icon class="fa mat-icon-rtl-mirror" fontIcon="fa-save"></mat-icon>
                    <div class="button-label">Save</div>
                </div>
            </button>
        </div>
        <div class="button-container">
            <button mat-button color="primary" (click)="cancel_changes()"
                [disabled]="!(sandbox.isLoggedin$ | async) || !(sandbox.isDirty$ | async)">
                <div>
                    <mat-icon class="fa mat-icon-rtl-mirror" fontIcon="fa-history"></mat-icon>
                    <div class="button-label">Cancel</div>
                </div>
            </button>
        </div>
    </div>

    <div class="contents" fxFlex fxLayout="row" fxFlex="1 1 auto">
        <app-admin-permissions-treeview (node-checked)="checkChange($event)" (node-selected)="selectNode($event)"
            #AclTree [datasource]="sandbox.datasource" [column-model]="treeColumnModel"
            [treecontrol]="sandbox.treecontrol" [hasChild]="sandbox.hasChild"
            [disabled]="!(sandbox.isAclLocked$ | async)" [selected-node]="sandbox.selectedNode$ | async">
        </app-admin-permissions-treeview>

        <!-- Node actions -->
        <div fxFlex="200px">
            <app-admin-permissions-treeview-actions [selected-node]="sandbox.selectedNode$ | async"
                (on-action-click)="onNodeActionClick($event)">
            </app-admin-permissions-treeview-actions>
        </div>
        <div class='right-space-filler' fxFlex="1 0 auto">
            <!--Fake div to fill empty spaces after 'actions'-->
        </div>
    </div>
</div>