@import "../common.styles/button.scss";
@include action-buttons;

.main_layout {
    display: inline-block;
}

.contents {
    // position: absolute;
    // height: 75%;
    width: 100%;
    overflow: hidden;
}

button {
    padding-left: 0;
    padding-right: 0;
}

.button-label {
    margin-left: 3px;
}
.toolbar {
    .button-container {
        display: inline-flex;
        padding-right: 20px;
    }
}
