.mat-tree-node {
    min-height: initial;
}

.mat-nested-tree-node {
    min-height: initial;
}

.mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
}
.node-content:hover {
    cursor: pointer;
}