/* You can add global styles to this file, and also import other style files */

// @import "material-design-icons/iconfont/material-icons.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* 
  ********************* 
  Define main app theme
  ********************* 
*/

@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();
// Define the default theme (same as the example above).
$app-default-primary: mat-palette($mat-indigo);
$app-default-accent: mat-palette($mat-pink, A200, A100, A400);
$app-default-theme: mat-light-theme($app-default-primary, $app-default-accent);
// Include the default theme styles.
@include angular-material-theme($app-default-theme);
// Themeable components
@import 'app/shared/components/nav-bar/nav-bar.component-theme.scss';
@include navbar-component($app-default-theme);
@import 'app/shared/components/side-nav/side-nav.component-theme.scss';
@include sidenav-component($app-default-theme);
@import 'app/app.component-theme.scss';
@include app-component($app-default-theme);
@import 'app/features-modules/login/containers/login/login.component.scss';
@include auth-component-login($app-default-theme);
@import 'app/features-modules/login/containers/logout/logout.component.scss';
@include auth-component-logout($app-default-theme);

// alternative theme 2
$app-theme-2-primary: mat-palette($mat-grey);
$app-theme-2-accent: mat-palette($mat-orange, A200, A100, A400);
$app-theme-2-theme: mat-light-theme($app-theme-2-primary, $app-theme-2-accent);
.app-theme-2 {
  @include angular-material-theme($app-theme-2-theme);
  @include app-component($app-theme-2-theme);
  @include navbar-component($app-theme-2-theme);
  @include sidenav-component($app-theme-2-theme);
  @include auth-component-login($app-theme-2-theme);
  @include auth-component-logout($app-theme-2-theme);

}