@import '../side-nav-component-theme-globals.scss';
@mixin menu-link-component-theme($theme) {
    app-menu-link {
        a:focus {
            outline: none;
        }
        .mat-expansion-panel {
            &.mat-expanded {
                background-color: background-color-expanded($theme);
            }
        }
    }
    a.menu-link-item {
        color: text-color($theme);
        &.linkActive {
            color: text-color-linkactive($theme);
        }
    }
    /*
        Hover colors
    */
    app-menu-link {
        a.menu-link-item:not(.linkActive) {
            &:hover {
                color: text-color-hover($theme);
            }
        }
    }
}