@import '../side-nav-component-theme-core.scss';
@mixin menu-link-component-colors($theme) {
    app-menu-link {
        a:focus {
            outline: none;
        }
        .mat-expansion-panel {
            &.mat-expanded {
                background-color: background-color-expanded($theme);
            }
        }
    }
    a.menu-link-item {
        color: text-color($theme);
        &.linkActive {
            color: text-color-linkactive($theme);
        }
    }
    /*
        Hover colors
    */
    app-menu-link {
        // .mat-expansion-panel a.child-menu-item-link:not(.linkActive) {
        //     &:hover {
        //         color: text-color-hover($theme);
        //     }
        // }
        a.menu-link-item:not(.linkActive) {
            &:hover {
                color: text-color-hover($theme);
            }
        }
    }
}

@mixin menu-link-component-structure($theme) {}