<ng-container *ngIf="menuItem && !menuItem.children && menuItem.data?.isMenu">
  <a class="menu-link-item" routerLink="{{menuItem.data?.link}}" #linkActive="routerLinkActive" routerLinkActive="linkActive">
    <mat-icon class="fa-xs menu-link-title-icon" [fontIcon]="linkActive.isActive?'fa-angle-right':'fa-angle-right'"></mat-icon>
    <span class="menu-link-title-description">{{menuItem.data?.title}}</span>
  </a>
</ng-container>

<!-- 
  If we have children, create a new menu panel
  IMPORTANT: Depth level are very limited and need to be patch to work
-->
<ng-container *ngIf="menuItem.children">
  <app-menu-panel [menuItem]="menuItem.children"></app-menu-panel>
</ng-container>